.footer
{
    background-image: url("https://static.vecteezy.com/system/resources/previews/026/859/549/non_2x/of-fitness-equipment-and-personal-grooming-tools-on-a-clean-background-with-copy-space-free-photo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}