.whole
{
    background-image: url("https://images.everydayhealth.com/images/everything-you-need-know-about-fitness-1440x810.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.signpage
{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 1px;
    padding-bottom: 83px;
}

.element
{
    background-color: rgba(255, 255, 255, 0.8);
    color: #000000;
    padding: 50px;
}

.emaildet
{
    margin-top: 40px;
    margin-left: 400px;
    margin-right: 400px;
}