.whole3
{
  background-size: contain;
  background-repeat: no-repeat;

}

.subscription-page {
    padding-top: 20px;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 5px solid #ddd;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("https://m.media-amazon.com/images/I/71oY9SO41QL._AC_UF1000,1000_QL80_.jpg");

  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input,
  select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  button {
    background-color: #007BFF;
    color: #fff;
    padding: 05%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  select{
    font-family: 'Courier New', Courier, monospace;
  }
  .table-container {
    max-width: 600px;
    margin: 0 auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 100px;
  }
  
  .custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .custom-table th, .custom-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .custom-table th {
    background-color: #f2f2f2;
  }